html {
    font-size: 16px;
    font-family: Verdana;
    color: white;
    text-align: center;
}

header {
    max-width: 100%;
}

body {
    background-color: black;
}

main {
    max-width: 80%;
    margin: auto;
}

header h1 {
    font-size: 2.75rem;
    font-weight: normal;
}

a {
    color: aquamarine;
    font-size: 1rem;
}

.vid { 
    margin: auto;
    display: flex;
    justify-content: center;
    width: 65%;
}

video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    margin: auto;
    
}

img {
    width: 100%;
}

.icon {
    width: 3rem;
    margin: auto;
    margin-top: 2rem;
}

footer p {
    justify-self: right;
    margin-right: 0;
}